___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise 

# The Data

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.


----------------------------

#### NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

## <div style="text-align: center">Data Column Reference</div>

In [1]:
import pandas as pd

In [2]:
hotels = pd.read_csv("hotel_booking_data.csv")

In [3]:
hotels.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,Transient,107.0,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,Transient,103.0,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,Transient,82.0,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,Transient,105.5,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190

---
**TASK: How many rows are there?**

In [4]:
hotels.shape #we can see the number of rows by using shape command. First number is the amount of rows, while the second one demonstrate us the amount of columns

(119390, 36)

In [5]:
hotels.info() #this command also gives us the number of rows with some other information about table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
reservation_status_date           119390 non-null object
name                              119390 non-null object
email                             119390 non-null object
phone-number                      119390 non-null object
credit_card                       119390 non-null object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

In [6]:
len(hotels)

119390

**TASK: Is there any missing data? If so, which column has the most missing data?**

In [7]:
hotels.isnull().sum() #isnull will show us the whole null cells of the each columns

"""
as we can see below, the columns of "country", "agent" and "company" have missing data respectively as 488, 16340 and 112593.
"""

'\nas we can see below, the columns of "country", "agent" and "company" have missing data respectively as 488, 16340 and 112593.\n'

**TASK: Drop the "company" column from the dataset.**

In [8]:
hotels_ex = hotels.copy()

In [9]:
hotels.drop("company", axis=1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Jasmine Fletcher,JFletcher43@xfinity.com,190-271-6743,************9263
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,Transient,107.00,0,0,Check-Out,2015-07-03,Dylan Rangel,Rangel.Dylan@comcast.net,420-332-5209,************6994
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,Transient,103.00,0,1,Check-Out,2015-07-03,William Velez,Velez_William@mail.com,286-669-4333,************8729
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,Transient,82.00,0,1,Canceled,2015-05-06,Steven Murphy,Steven.Murphy54@aol.com,341-726-5787,************3639
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,Transient,105.50,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,Transient,123.00,0,0,Canceled,2015-06-23,Priscilla Collins PhD,PhD.Priscilla74@att.com,833-887-7898,************4642
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,Transient,145.00,0,0,Check-Out,2015-07-05,Laurie Smith,Smith.Laurie@att.com,804-383-4080,************5450
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,Transient,97.00,0,3,Check-Out,2015-07-05,Casey Thomas,Casey_T78@outlook.com,211-071-2173,************8518
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,Transient,154.77,0,1,Check-Out,2015-07-05,Rachel Friedman,Rachel.F@protonmail.com,435-075-8409,************9767
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,Transient,94.71,0,0,Check-Out,2015-07-05,Edward Torres,Edward.T@zoho.com,790-746-7471,************7719
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,Transient,97.00,0,3,Check-Out,2015-07-05,Samuel Zavala,Zavala_Samuel46@xfinity.com,649-384-5387,************7612
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,Contract,97.50,0,0,Check-Out,2015-07-05,Dr. Victor Martin,Dr.Martin@xfinity.com,331-430-8824,************6279
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,Transient,88.20,0,0,Check-Out,2015-07-02,Sara Lee,Sara.L@hotmail.com,573-306-9938,************8950
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,Transient,107.42,0,0,Check-Out,2015-07-02,Curtis Rodriguez,CRodriguez@verizon.com,466-424-2102,************1179
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,Transient,153.00,0,1,Check-Out,2015-07-05,Stephanie Schmidt,StephanieSchmidt@hotmail.com,896-642-1049,************1110
20,Resort Hotel,0,37,2015,July,27,1,1,4,1,...,Transient,97.29,0,1,Check-Out,2015-07-06,John Matthews,John.Matthews@aol.com,952-496-4398,************1019
21,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,Transient,84.67,0,1,Check-Out,2015-07-07,Robert Chung,Robert.Chung47@yandex.com,382-465-6552,************8524
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,Transient,84.67,0,1,Check-Out,2015-07-07,Mark Garcia,MGarcia16@comcast.net,784-675-4921,************4371
23,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,Transient,99.67,0,1,Check-Out,2015-07-07,Brandon Taylor,BrandonTaylor@hotmail.com,227-329-7167,************8470
24,Resort Hotel,0,127,2015,July,27,1,2,5,2,...,Contract,94.95,0,1,Check-Out,2015-07-01,Angie Sanchez,Angie_Sanchez@att.com,211-889-2476,************8871
25,Resort Hotel,0,78,2015,July,27,1,2,5,2,...,Transient,63.60,1,0,Check-Out,2015-07-08,Alexis King,King_Alexis70@hotmail.com,103-516-5853,************6809
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,Contract,79.50,0,0,Check-Out,2015-07-08,Michael Davidson,MichaelDavidson82@att.com,336-525-2460,************8662
27,Resort Hotel,1,60,2015,July,27,1,2,5,2,...,Transient,107.00,0,2,Canceled,2015-05-11,Jaime Flynn,JaimeFlynn29@gmail.com,549-866-3721,************9660
28,Resort Hotel,0,77,2015,July,27,1,2,5,2,...,Transient,94.00,0,0,Check-Out,2015-07-08,Mrs. Alicia Williams,Mrs..W61@yandex.com,427-564-4927,************4445
29,Resort Hotel,0,99,2015,July,27,1,2,5,2,...,Transient,87.30,1,1,Check-Out,2015-07-08,Heather Hart,Heather.H@xfinity.com,431-329-6663,************2780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119360,City Hotel,0,195,2017,August,35,29,1,5,2,...,Transient,117.00,0,1,Check-Out,2017-09-04,Tyler Moore,Tyler_Moore29@yahoo.com,605-945-3220,************5064
119361,City Hotel,0,100,2017,August,35,31,1,3,2,...,Transient,95.85,0,0,Check-Out,2017-09-04,Samuel Lewis,Samuel.L@xfinity.com,917-502-5978,************9544
119362,City Hotel,0,198,2017,August,35,29,1,5,2,...,Transient,119.17,0,2,Check-Out,2017-09-04,Mia Bridges,Bridges.Mia@xfinity.com,656-064-3564,************7590
119363,City Hotel,0,212,2017,August,35,28,2,5,2,...,Transient,92.17,0,1,Check-Out,2017-09-04,Donna Young,Donna_Y34@hotmail.com,946-717-5213,************2124
119364,City Hotel,0,212,2017,August,35,28,2,5,2,...,Transient,92.17,0,2,Check-Out,2017-09-04,Thomas Richardson,ThomasRichardson@verizon.com,530-787-9244,************5743
119365,City Hotel,0,54,2017,August,35,27,3,5,1,...,Transient,266.75,0,1,Check-Out,2017-09-04,Christine Johnson,CJohnson91@att.com,851-066-5817,************8453
119366,City Hotel,0,210,2017,August,35,28,2,5,2,...,Transient,85.59,0,1,Check-Out,2017-09-04,Emily Melton,Melton.Emily@verizon.com,176-506-4986,************8565
119367,City Hotel,0,212,2017,August,35,28,2,5,2,...,Transient,85.59,0,0,Check-Out,2017-09-04,Christopher Lewis,Lewis.Christopher82@yahoo.com,302-081-9660,************3901
119368,City Hotel,0,261,2017,August,35,30,1,4,2,...,Transient,99.00,0,0,Check-Out,2017-09-04,David Doyle,DDoyle95@verizon.com,464-941-2107,************4279
119369,City Hotel,0,207,2017,August,34,25,3,7,2,...,Transient,96.25,0,2,Check-Out,2017-09-04,Erin Benson,Benson_Erin15@att.com,598-617-2436,************7834
119370,City Hotel,0,201,2017,August,35,30,1,4,1,...,Transient,108.00,0,2,Check-Out,2017-09-04,Valerie West,West_Valerie@comcast.net,997-317-9721,************7658
119371,City Hotel,0,175,2017,August,35,31,1,3,2,...,Transient,86.85,0,2,Check-Out,2017-09-04,Jim Anderson,JimAnderson@yandex.com,314-015-9640,************2821
119372,City Hotel,0,175,2017,August,35,31,1,3,1,...,Transient,82.35,0,1,Check-Out,2017-09-04,David Young,DavidYoung47@zoho.com,606-247-8498,************9983
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,Transient,82.35,0,1,Check-Out,2017-09-04,Alexandria Davis,AlexandriaDavis@att.com,435-353-3974,************2683
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,Transient,117.00,0,2,Check-Out,2017-09-04,Michael Deleon,Michael_D@att.com,415-740-0604,************2792
119375,City Hotel,0,200,2017,August,35,30,1,4,2,...,Transient,85.50,0,1,Check-Out,2017-09-04,Mary Pittman,Mary.Pittman17@protonmail.com,355-945-3910,************5480
119376,City Hotel,0,165,2017,August,35,29,1,5,3,...,Transient,209.25,0,3,Check-Out,2017-09-04,Meghan Edwards,Meghan_E@aol.com,718-214-5093,************2951
119377,City Hotel,0,185,2017,August,35,30,1,4,2,...,Transient,99.00,0,1,Check-Out,2017-09-04,Jennifer Wood,Jennifer.W@att.com,503-261-6570,************4447
119378,City Hotel,0,247,2017,August,35,31,1,3,2,...,Transient,86.85,0,0,Check-Out,2017-09-04,Martha Acevedo,Martha.Acevedo40@xfinity.com,392-301-5354,************9846
119379,City Hotel,0,109,2017,August,35,31,1,3,2,...,Transient,155.00,0,1,Check-Out,2017-09-04,Amanda Rogers,AmandaRogers@gmail.com,590-022-0933,************5102
119380,City Hotel,0,44,2017,August,35,31,1,3,2,...,Transient,140.75,0,1,Check-Out,2017-09-04,Wanda Jones,Wanda_J@yandex.com,379-374-7947,************8581
119381,City Hotel,0,188,2017,August,35,31,2,3,2,...,Transient,99.00,0,0,Check-Out,2017-09-05,Betty Taylor,BTaylor@yandex.com,114-632-1395,************1795
119382,City Hotel,0,135,2017,August,35,30,2,4,3,...,Transient,209.00,0,0,Check-Out,2017-09-05,Cesar Moreno,Cesar_M50@comcast.net,666-379-7260,************7835
119383,City Hotel,0,164,2017,August,35,31,2,4,2,...,Transient,87.60,0,0,Check-Out,2017-09-06,Jose Andersen,Andersen_Jose@protonmail.com,656-714-5930,************7923
119384,City Hotel,0,21,2017,August,35,30,2,5,2,...,Transient,96.14,0,2,Check-Out,2017-09-06,James Mccarty,James_M@att.com,689-204-7523,************7994
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [10]:
hotels = hotels.drop("company", axis=1)

**TASK: What are the top 5 most common country codes in the dataset?**

In [11]:
hotels_ex.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [12]:
hotels_ex.iloc[1]

hotel                                       Resort Hotel
is_canceled                                            0
lead_time                                            737
arrival_date_year                                   2015
arrival_date_month                                  July
arrival_date_week_number                              27
arrival_date_day_of_month                              1
stays_in_weekend_nights                                0
stays_in_week_nights                                   0
adults                                                 2
children                                               0
babies                                                 0
meal                                                  BB
country                                              PRT
market_segment                                    Direct
distribution_channel                              Direct
is_repeated_guest                                      0
previous_cancellations                                 0
previous_bookings_not_canceled                         0
reserved_room_type                                     C
assigned_room_type                                     C
booking_changes                                        4
deposit_type                                  No Deposit
agent                                                NaN
company                                              NaN
days_in_waiting_list                                   0
customer_type                                  Transient
adr                                                    0
required_car_parking_spaces                            0
total_of_special_requests                              0
reservation_status                             Check-Out
reservation_status_date                       2015-07-01
name                                        Andrea Baker
email                             Andrea_Baker94@aol.com
phone-number                                858-637-6955
credit_card                             ************9157
Name: 1, dtype: object

In [13]:
hotels_ex.groupby("country")["name"].count().sort_values(ascending = False)[:5]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: name, dtype: int64

In [14]:
hotels_ex['country'].value_counts()[:5]

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

**TASK: What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?**

In [15]:
hotels_ex.sort_values('adr', ascending = False)[['name', 'adr']].iloc[[0]]

                name     adr
48515  Daniel Walter  5400.0

**TASK: The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?**

In [18]:
hotels_ex['adr'].mean()

101.83112153446453

**TASK: What is the average (mean) number of nights for a stay across the entire data set? Feel free to round this to 2 decimal points.**

In [21]:
round((hotels_ex['stays_in_week_nights'] + hotels_ex['stays_in_weekend_nights']).mean(), 2)

3.43

**TASK: What is the average total cost for a stay in the dataset? Not *average daily cost*, but *total* stay cost. (You will need to calculate total cost your self by using ADR and week day and weeknight stays). Feel free to round this to 2 decimal points.**

In [25]:
# Let assign a variable to total staying nights per week into a new column('total_days')
hotels_ex['total_days'] = hotels_ex['stays_in_week_nights'] + hotels_ex['stays_in_weekend_nights']
# Now we can find the total payment for each week(not average day fee)
hotels_ex['total_paymant'] = hotels_ex['total_days'] * hotels_ex['adr']

round(hotels_ex['total_paymant'].mean(), 2)

357.85

**TASK: What are the names and emails of people who made exactly 5 "Special Requests"?**

In [27]:
hotels_ex[hotels_ex['total_of_special_requests'] == 5]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,total_days,total_paymant
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2,...,0,5,Canceled,2016-07-22,Amanda Harper,Amanda.H66@yahoo.com,864-257-9807,************9835,5,795.00
11125,Resort Hotel,0,108,2017,April,16,21,4,7,2,...,0,5,Check-Out,2017-05-02,Laura Sanders,Sanders_Laura@hotmail.com,120-754-3942,************2345,11,935.00
14596,Resort Hotel,0,22,2015,July,28,9,0,3,3,...,1,5,Check-Out,2015-07-12,Tommy Ortiz,Tommy_O@hotmail.com,377-098-5937,************7011,3,542.01
14921,Resort Hotel,0,185,2017,February,8,24,2,2,1,...,0,5,Check-Out,2017-02-28,Gilbert Miller,Miller.Gilbert@aol.com,806-574-2045,************9282,4,158.40
14922,Resort Hotel,0,134,2017,April,15,13,0,3,1,...,0,5,Check-Out,2017-04-16,Timothy Torres,TTorres@protonmail.com,422-113-4918,************1314,3,184.50
24630,Resort Hotel,0,76,2016,May,21,20,2,5,2,...,0,5,Check-Out,2016-05-27,Jennifer Weaver,Jennifer_W@aol.com,341-150-8437,************8923,7,889.98
27288,Resort Hotel,0,210,2016,August,33,12,4,10,2,...,0,5,Check-Out,2016-08-26,Crystal Horton,Crystal.H@mail.com,736-187-2543,************4401,14,1491.70
27477,Resort Hotel,0,3,2016,August,35,24,2,5,2,...,0,5,Check-Out,2016-08-31,Brittney Burke,Burke_Brittney16@att.com,825-860-3212,************5412,7,1392.02
29906,Resort Hotel,0,47,2016,November,45,5,2,2,2,...,0,5,Check-Out,2016-11-09,Cynthia Cabrera,Cabrera.Cynthia@xfinity.com,280-973-9357,************7822,4,299.20
29949,Resort Hotel,0,24,2017,March,13,29,0,2,2,...,0,5,Check-Out,2017-03-31,Sarah Floyd,Sarah_F@gmail.com,100-586-7149,************3600,2,126.00
32267,Resort Hotel,0,84,2017,January,3,18,0,2,2,...,0,5,Check-Out,2017-01-20,Michelle Villa,Michelle.Villa@aol.com,494-968-0905,************2567,2,201.00
39027,Resort Hotel,0,231,2017,August,31,2,0,4,2,...,1,5,Check-Out,2017-08-06,Nichole Hebert,Hebert.Nichole@gmail.com,474-796-1175,************4645,4,900.00
39129,Resort Hotel,0,231,2017,August,31,2,2,4,2,...,1,5,Check-Out,2017-08-08,Lindsey Mckenzie,Lindsey.Mckenzie@att.com,342-438-6097,************3635,6,1891.98
39525,Resort Hotel,0,178,2017,August,33,14,1,5,2,...,0,5,Check-Out,2017-08-20,Ashley Edwards,Edwards.Ashley@yahoo.com,626-492-1882,************2206,6,1575.00
70114,City Hotel,1,51,2017,June,23,9,2,3,2,...,0,5,Canceled,2017-05-09,Christopher Torres,Torres.Christopher@gmail.com,860-988-0351,************3761,5,390.00
78819,City Hotel,0,30,2015,October,42,14,0,3,2,...,0,5,Check-Out,2015-10-17,Mrs. Tara Sullivan DVM,Mrs..DVM@xfinity.com,988-952-5135,************3870,3,288.90
78820,City Hotel,0,30,2015,October,42,14,0,3,2,...,0,5,Check-Out,2015-10-17,Michaela Brown,MichaelaBrown@att.com,548-026-5186,************5197,3,288.90
78822,City Hotel,0,30,2015,October,42,14,0,3,2,...,0,5,Check-Out,2015-10-17,Kurt Maldonado MD,KMD15@xfinity.com,596-909-0721,************6878,3,288.90
97072,City Hotel,0,54,2016,September,37,10,1,1,2,...,0,5,Check-Out,2016-09-12,Jason Richardson,Jason.R@zoho.com,723-140-0567,************9650,2,334.00
97099,City Hotel,0,54,2016,September,37,10,1,1,2,...,0,5,Check-Out,2016-09-12,Terri Hurley,THurley@xfinity.com,942-403-4963,************7738,2,278.00
97261,City Hotel,0,125,2016,September,37,4,4,6,2,...,0,5,Check-Out,2016-09-14,Mrs. Caitlin Webb,Mrs._W@comcast.net,428-370-6078,************2591,10,997.90
98410,City Hotel,0,3,2016,September,40,26,1,2,3,...,0,5,Check-Out,2016-09-29,Holly Arroyo,Arroyo_Holly@mail.com,552-014-6735,************1578,3,800.01
98674,City Hotel,0,105,2016,September,40,29,1,3,2,...,0,5,Check-Out,2016-10-03,Denise Campbell,Denise_C@gmail.com,611-914-5212,************2474,4,387.60
99887,City Hotel,0,26,2016,October,43,17,1,2,2,...,0,5,Check-Out,2016-10-20,Michael Smith,Michael.S42@aol.com,543-085-3867,************3962,3,338.64
99888,City Hotel,0,26,2016,October,43,17,1,2,2,...,0,5,Check-Out,2016-10-20,Dr. Trevor Sellers,Dr._S@aol.com,365-005-8392,************4271,3,338.64
101569,City Hotel,0,23,2016,November,46,11,1,2,2,...,0,5,Check-Out,2016-11-14,Kayla Murphy,Kayla.Murphy@yahoo.com,645-326-3016,************7445,3,374.01
102061,City Hotel,0,46,2016,November,47,18,2,3,2,...,0,5,Check-Out,2016-11-23,Taylor Martinez,Taylor.Martinez@hotmail.com,290-360-7041,************5330,5,340.35
109511,City Hotel,0,36,2017,April,15,10,1,2,2,...,0,5,Check-Out,2017-04-13,Charles Wilson,Charles_Wilson@yahoo.com,469-999-0942,************7158,3,420.00
109590,City Hotel,0,74,2017,April,15,9,2,3,2,...,0,5,Check-Out,2017-04-14,Tyler Allison,Tyler.A@protonmail.com,685-168-8139,************3021,5,581.25
110082,City Hotel,0,120,2017,April,16,17,1,4,2,...,0,5,Check-Out,2017-04-22,Matthew Bailey,Matthew_Bailey@aol.com,285-274-5663,************9766,5,540.00
110083,City Hotel,0,120,2017,April,16,17,1,4,1,...,0,5,Check-Out,2017-04-22,Charlotte Acevedo,Charlotte_A@verizon.com,345-877-4448,************5955,5,540.00
111909,City Hotel,0,201,2017,May,20,14,2,2,2,...,0,5,Check-Out,2017-05-18,Darrell Brennan,Brennan_Darrell51@hotmail.com,739-153-3639,************5835,4,500.40
111911,City Hotel,0,201,2017,May,20,14,2,2,2,...,0,5,Check-Out,2017-05-18,Melinda Jensen,MelindaJensen@zoho.com,129-892-8585,************6636,4,500.40
113915,City Hotel,0,51,2017,June,23,9,2,3,2,...,0,5,Check-Out,2017-06-14,Terry Arnold,Arnold.Terry@zoho.com,923-765-3627,************1007,5,390.00
114770,City Hotel,0,177,2017,June,25,24,2,1,3,...,0,5,Check-Out,2017-06-27,Mary Nguyen,Nguyen.Mary@protonmail.com,557-683-4481,************7351,3,499.50
114909,City Hotel,0,207,2017,June,25,24,2,2,2,...,0,5,Check-Out,2017-06-28,Lindsay Cuevas,Lindsay.Cuevas40@mail.com,741-276-6171,************7249,4,396.00
116455,City Hotel,0,219,2017,July,28,14,2,5,1,...,0,5,Check-Out,2017-07-21,Cynthia Hernandez,CynthiaHernandez@xfinity.com,713-506-8850,************4500,7,693.70
116457,City Hotel,0,219,2017,July,28,14,2,5,3,...,0,5,Check-Out,2017-07-21,Angela Hawkins,Angela_H@gmail.com,198-157-4544,************2619,7,1096.20
118817,City Hotel,0,217,2017,August,34,21,1,4,2,...,0,5,Check-Out,2017-08-26,Sue Lawson,Sue.L52@comcast.net,287-649-4214,************2191,5,675.00
119161,City Hotel,0,205,2017,August,35,29,0,2,2,...,0,5,Check-Out,2017-08-31,Alyssa Richards,Alyssa_Richards@aol.com,737-736-4293,************3090,2,198.00

In [28]:
hotels_ex[hotels_ex['total_of_special_requests'] == 5][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

**TASK: What percentage of hotel stays were classified as "repeat guests"? (Do not base this off the name of the person, but instead of the is_repeated_guest column)**

In [31]:
sum(hotels_ex['is_repeated_guest'] == 1)

3810

In [32]:
(sum(hotels_ex['is_repeated_guest'] == 1) / len(hotels_ex)) *100

3.191222045397437

**TASK: What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)**

In [34]:
hotels_ex['name'].apply(lambda name: name.split())

0                  [Ernest, Barnes]
1                   [Andrea, Baker]
2                 [Rebecca, Parker]
3                   [Laura, Murray]
4                    [Linda, Hines]
5               [Jasmine, Fletcher]
6                   [Dylan, Rangel]
7                  [William, Velez]
8                  [Steven, Murphy]
9                  [Michael, Moore]
10        [Priscilla, Collins, PhD]
11                  [Laurie, Smith]
12                  [Casey, Thomas]
13               [Rachel, Friedman]
14                 [Edward, Torres]
15                 [Samuel, Zavala]
16            [Dr., Victor, Martin]
17                      [Sara, Lee]
18              [Curtis, Rodriguez]
19             [Stephanie, Schmidt]
20                 [John, Matthews]
21                  [Robert, Chung]
22                   [Mark, Garcia]
23                [Brandon, Taylor]
24                 [Angie, Sanchez]
25                   [Alexis, King]
26              [Michael, Davidson]
27                   [Jaime, Flynn]
28         [Mrs., Alicia, Williams]
29                  [Heather, Hart]
                    ...
119360               [Tyler, Moore]
119361              [Samuel, Lewis]
119362               [Mia, Bridges]
119363               [Donna, Young]
119364         [Thomas, Richardson]
119365         [Christine, Johnson]
119366              [Emily, Melton]
119367         [Christopher, Lewis]
119368               [David, Doyle]
119369               [Erin, Benson]
119370              [Valerie, West]
119371              [Jim, Anderson]
119372               [David, Young]
119373          [Alexandria, Davis]
119374            [Michael, Deleon]
119375              [Mary, Pittman]
119376            [Meghan, Edwards]
119377             [Jennifer, Wood]
119378            [Martha, Acevedo]
119379             [Amanda, Rogers]
119380               [Wanda, Jones]
119381              [Betty, Taylor]
119382              [Cesar, Moreno]
119383             [Jose, Andersen]
119384             [James, Mccarty]
119385           [Claudia, Johnson]
119386            [Wesley, Aguilar]
119387              [Mary, Morales]
119388       [Caroline, Conley, MD]
119389            [Ariana, Michael]
Name: name, Length: 119390, dtype: object

In [35]:
hotels_ex['name'].apply(lambda name: name.split()[-1])

0             Barnes
1              Baker
2             Parker
3             Murray
4              Hines
5           Fletcher
6             Rangel
7              Velez
8             Murphy
9              Moore
10               PhD
11             Smith
12            Thomas
13          Friedman
14            Torres
15            Zavala
16            Martin
17               Lee
18         Rodriguez
19           Schmidt
20          Matthews
21             Chung
22            Garcia
23            Taylor
24           Sanchez
25              King
26          Davidson
27             Flynn
28          Williams
29              Hart
             ...
119360         Moore
119361         Lewis
119362       Bridges
119363         Young
119364    Richardson
119365       Johnson
119366        Melton
119367         Lewis
119368         Doyle
119369        Benson
119370          West
119371      Anderson
119372         Young
119373         Davis
119374        Deleon
119375       Pittman
119376       Edwards
119377          Wood
119378       Acevedo
119379        Rogers
119380         Jones
119381        Taylor
119382        Moreno
119383      Andersen
119384       Mccarty
119385       Johnson
119386       Aguilar
119387       Morales
119388            MD
119389       Michael
Name: name, Length: 119390, dtype: object

In [37]:
hotels_ex['name'].apply(lambda name: name.split()[-1]).value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

**TASK: What are the names of the people who had booked the most number children and babies for their stay? (Don't worry if they canceled, only consider number of people reported at the time of their reservation)**

In [38]:
#lets find the total amount of kids (babies and chidren)

hotels_ex['total_kids'] = hotels_ex['babies'] + hotels_ex['children']

In [41]:
hotels_ex.sort_values('total_kids',ascending=False)[['name','adults','total_kids','babies','children']][:5]

                     name  adults  total_kids  babies  children
328         Jamie Ramirez       2        10.0       0      10.0
46619     Nicholas Parker       2        10.0      10       0.0
78656       Marc Robinson       1         9.0       9       0.0
19718   Mr. Jeffrey Cross       2         3.0       0       3.0
107837      Albert French       2         3.0       2       1.0

**TASK: What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)**

In [43]:
hotels_ex['phone-number'].apply(lambda phonenumber: phonenumber.split('-')[0]).value_counts()[:3]

799    168
185    167
541    166
137    163
763    163
Name: phone-number, dtype: int64

**TASK: How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?**

In [ ]:
#firstly we should find the day of the first 15

lambda day: day in range(1,16)

In [45]:
hotels_ex['arrival_date_day_of_month'].apply(lambda day: day in range(1, 16))

0          True
1          True
2          True
3          True
4          True
5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
          ...
119360    False
119361    False
119362    False
119363    False
119364    False
119365    False
119366    False
119367    False
119368    False
119369    False
119370    False
119371    False
119372    False
119373    False
119374    False
119375    False
119376    False
119377    False
119378    False
119379    False
119380    False
119381    False
119382    False
119383    False
119384    False
119385    False
119386    False
119387    False
119388    False
119389    False
Name: arrival_date_day_of_month, Length: 119390, dtype: bool

In [46]:
hotels_ex['arrival_date_day_of_month'].apply(lambda day: day in range(1, 16)).sum()

58152


**HARD BONUS TASK: Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)**

In [ ]:
# CODE HERE

---

---